
@{
    ViewBag.Title = "Categorias";
    
}

@*@functions
{
    public bool verificarValor(List<Pstring> lista, PaquetesTuristicos.Models.Categoria valor)
    {
        foreach(var item in lista)
        {
            if(item.categoria1.Equals(valor.categoria1))
            {
                return true;
            }
        }
        return false;
    }
}*@

<h2>Categorias</h2>

<div class="row">
    <div class="col-md-4 offset-md-6">
        @foreach (var lists in Model)
        {
            foreach (PaquetesTuristicos.Models.Categoria item in lists.Item1)
            {
                if (item.activo)
                {
                    <div class="card mb-3">

                        <div class="card-body">
                            <h6 class="card-title mb-1">@item.categoria1</h6>

                        </div>
                        <hr class="my-0">
                        <div class="card-body py-2 small">
                            @if (lists.Item2 != null  && !lists.Item2.Contains(item.categoria1))
                            {
                            @Html.ActionLink("Me gusta", "Like", "Cliente", new { id = @item.idCategoria }, new { @class = "btn btn-info" })
                            }
                            else
                            {
                            @Html.ActionLink("No me gusta", "QuitarLike", "Cliente", new { id = @item.idCategoria }, new { @class = "btn btn-info" })
                            }

                        </div>

                    </div>
                    <br>
                }
            }

        }

    </div>
</div>