
@{
    ViewBag.Title = "Recomendaciones";
}

<h2>Recomendaciones</h2>

<div class="row">
    <div class="col-md-6">
        @foreach (var item in Model)
        {
            if (item.disponible)
            {
                <div class="card">
                    <div class="card-header">
                        @item.name
                    </div>
                    <div class="card-block">
                        <br>
                        <div class="col-md-10">

                            <h6 class="card-title">Caracteristicas</h6>
                            <ul>
                                <li>Dueño : @item.name</li>
                                <li>Ubicacion: @item.province, @item.canton, @item.district</li>
                                <li>Categoria : @item.categoria.categoria1</li>
                            </ul>
                            @Html.ActionLink("Seleccionar", "Servicio", "Cliente", new { id = @item.id }, new { @class = "btn btn-info" })
                        </div>
                        <br>
                    </div>
                </div>
                <br>
            }

        }

    </div>
</div>