
@{
    ViewBag.Title = "Servicios";
}

<div class="row">
    <div class="col-md-2 offset-md-6">

        <button type="button" class="btn btn-dark btn-block" onclick="location.href='@Url.Action("AgregarServicio", "Vendedor")'">Agregar Servicio</button>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-header">
                    @item.name
                </div>
                <div class="card-block">
                    <br>
                    <div class="col-md-10">

                        <h6 class="card-title">Caracteristicas</h6>
                        <ul>
                            <li>Dueño : @item.owner</li>
                            <li>Ubicacion: @item.province, @item.canton, @item.district</li>
                            <li>Categoria : @item.categoria.categoria1</li>
                        </ul>
                        @if (item.disponible)
                        {
                            @Html.ActionLink("Deshabilitar", "Actualizar", "Vendedor", new { id = @item.id }, new { @class = "btn btn-dark" })
                        }
                        else
                        {
                            @Html.ActionLink("Habilitar", "Actualizar", "Vendedor", new { id = @item.id }, new { @class = "btn btn-dark" })
                        }

                    </div>
                    <br>
                </div>
            </div>
            <br>
        }
        
    </div>
</div>